<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-xs-12 col-md-6"  style="margin-bottom: 20px;">
        <h1 style="color:red; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Categories</h1>
          <input
              style="width: 800px;"
              type="text"
              class="form-control"
              placeholder="Search for Category Name.."
              [(ngModel)]="FilterCategoryName"
          >
      </div>
      <div class="col-xs-12 col-md-6">
          <button class="btn btn-success" style="margin-left: 230px;" (click)="openDialog('add')">Add New Category</button>
      </div>
  </div>

</div>
<div class="table-responsive" style="width: 820px;">
  <table class="table">
    <thead>
      <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>User ID</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="categoryArr.length > 0; else loading">
      <tr style="height: 45px;" *ngFor="let item of categoryArr | filterItem:FilterCategoryName:'categoryName'">
        <td style="padding-top: 15px;">{{ item.categoryId }}</td>
        <td style="padding-top: 15px;">{{ item.categoryName }}</td>
        <td style="padding-top: 15px;">{{ getUserById(item.userId) }}</td>
        <td><button class="btn btn-primary" (click)="openDialog('edit', item.categoryId)">Edit</button></td>
        <td>
          <button class="btn btn-danger" (click)="openDialog('delete', item.categoryId)" [disabled]="canDeleteCategory(item.categoryId)">Delete</button>
          <br>
          <br>
          <span *ngIf="canDeleteCategory(item.categoryId)">Can't delete Category </span> 
          <span *ngIf="canDeleteCategory(item.categoryId)" style="color: red;"><strong>{{item.categoryName}}</strong></span>
        </td>
               
      </tr>
    </tbody>
    <ng-template #loading>
      <tr>
        <td colspan="2">Loading categories...</td>
      </tr>
    </ng-template>
  </table>
</div>
<div>
<button class="btn btn-info" style="margin-left: 400px; margin-top: 50px;" (click)="goBack()">Open Items</button>
</div>
