<div id="modal-content-wrapper" style="width: 300px; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <h1>{{ data.mode === 'add' ? 'Add New Category' : (data.mode === 'edit' ? 'Edit Category' : 'Delete Category') }}</h1>
    <form #categoryForm="ngForm" (ngSubmit)="onSubmitCategory()">

        <div class="form-group" *ngIf="data.mode !== 'delete'">
            <label for="categoryName" style="padding-right: 30px;">Category Name </label>
            <input type="text" id="categoryName" name="categoryName" [(ngModel)]="newCategoryName" required>
        </div>
        <div class="form-group" *ngIf="data.mode !== 'delete'" style="display: flex; align-items: center;">
            <label for="userId" style="padding-right: 100px;">User</label>
            <select style="width: 167px;" type="text" class="form-control" id="userId" [(ngModel)]="newUserId" name="userId" required>
                <option [value]="null">Select User</option>  
                <option *ngFor="let user of userArr" [value]="user.userId">{{ user.userName }}</option>
            </select>
        </div>


        <br>
        <div style="padding-top: 10px;">
            <button class="btn btn-primary" type="submit" [disabled]="(data.mode !== 'delete' && !categoryForm.valid)">
                {{ data.mode === 'delete' ? 'Delete' : 'Save' }}
            </button>

            <button class="btn btn-danger" (click)="onClose()" style="margin-left: 150px;">
                Close
            </button>
        </div>
    </form>
</div>